*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url(images/wallpaper.png);
    background-position: center;
    background-size: cover;
    padding:0 8%;
}

.logo{
    padding: 20px;
    cursor: pointer;
    color: white;
}

.logo span{
    color: #be71a6;
}

.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}

.content p{
    font-weight: 600;
}

.content h1{
    font-size: 64px;
    font-weight: 500;
}

.content h1 span{
    color: #f5304a;
}

.content button{
    background: transparent;
    border: 2px solid #fff;
    outline:none;
    padding: 12px 25px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.launch_time{
    display: flex;
}

.launch_time div{
    flex-basis: 100px;
}

.launch_time div p{
    font-size: 60px;
    margin-bottom: -14px;
}